* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navbar {
  font-size: 13px;
  padding: 1.5rem 1.6rem;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: #000;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar__right {
  margin-right: 5px;
}

.navbar__left > ul,
.navbar__right > ul {
  display: flex;
}

.navbar__left > ul > li {
  margin-right: 17px;
}

.navbar__right > ul > li {
  margin-left: 20px;
}

.navbar__right-box i {
  color: gray;
}

.navbar__right-box i:hover {
  color: #000;
}

.navbar__right-btn > a {
  color: #fff;
  background-color: #4285f4;
  font-weight: 800;
  padding: 8px 14px;
  border-radius: 3px;
}

.navbar__right-btn > a:hover {
  text-decoration: none;
}

.navbar__right-btn > a:active {
  background-color: #3c7ae4;
}

.google__logo {
  width: fit-content;
  margin: 93px auto 22px;
}

.google__form {
  width: fit-content;
  margin: auto;
  position: relative;
}

.google__form > input {
  font-size: 1rem;
  padding: 14px 357px 15px 49px;
  border-radius: 50px;
  outline: none;
  border: 1px solid rgb(226, 219, 219);
  box-shadow: 1px 1px 1px rgba(129, 128, 128, 0.2);
}

.google__search,
.google__mic {
  max-width: 15px;
  position: absolute;
}

.google__search {
  left: 20px;
  top: 17px;
}

.google__mic {
  right: 22px;
  top: 13px;
}

.google__links {
  font-size: 14px;
  text-align: center;
  margin-top: 38px;
}

.google__links > span {
  padding: 10px 17px;
  background-color: rgb(241, 237, 237);
  border: 1px solid rgb(241, 237, 237);
  border-radius: 5px;
}

.google__links > span:hover {
  border: 1px solid rgb(187, 182, 182);
  cursor: pointer;
}

.google__links span:hover a {
  color: #000;
}

.google__links > span:first-of-type {
  margin-right: 8px;
}

.google__links a {
  color: rgb(90, 89, 89);
}

.footer-wrapper {
  font-size: 14px;
  margin-top: 280px;
  padding: 11px 30px;
  border-top: 1px solid rgb(230, 224, 224);
  background-color: rgb(241, 237, 237);
  display: flex;
  justify-content: space-between;
}

.footer-wrapper a {
  color: rgb(90, 89, 89);
}

.footer-wrapper a:hover {
  text-decoration: underline;
}

.footer-left,
.footer-right {
  display: flex;
}

.footer-left li {
  margin-right: 27px;
}

.footer-right li {
  margin-left: 27px;
}
